@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --green: hsl(172, 67%, 45%);
  --dark-green: hsl(183, 100%, 15%);
  --lighter-grey: hsl(189, 47%, 97%);
  --light-grey: hsl(185, 41%, 84%);
  --grey: hsl(184, 14%, 56%);
  --dark-grey: hsl(186, 14%, 43%);
  --white: hsl(0, 100%, 100%);
  --red: #e17052;
}

body {
  background-color: var(--light-grey);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 700;
  color: var(--dark-green);
  letter-spacing: 0.5rem;
}

.main-container {
  background-color: var(--white);
  width: fit-content;
  display: flex;
  gap: 2rem;
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

form {
  color: var(--dark-green);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bill-container,
.people-container {
  display: flex;
  flex-direction: column;
}

input {
  text-align: right;
  background-color: var(--lighter-grey);
  border: 0;
  padding-right: 1rem;
  width: 100%;
}

input::placeholder {
  color: var(--grey);
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.input-icon {
  position: absolute;
  margin-left: 1rem;
  color: var(--grey);
}

label {
  margin-bottom: 0.5rem;
}

button {
  background-color: var(--dark-green);
  border-radius: 0.25rem;
  border: none;
  color: var(--white);
  font-size: 1.5rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.hide {
  display: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.tip-container {
  display: flex;
  flex-direction: column;
}

.custom-button {
  background-color: var(--lighter-grey);
  color: var(--dark-green);
}

section {
  background-color: var(--dark-green);
  color: var(--white);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 20rem;
}

.result {
  font-size: 2rem;
  color: var(--green);
}

.total,
.tip-amount {
  display: flex;
  justify-content: space-between;
}

.reset-button {
  background-color: #0d686d;
  color: #085c61;
  width: 100%;
  cursor: default;
  pointer-events: none;
  margin-top: 2rem;
}

.reset-active {
  background-color: var(--green);
  color: var(--dark-green);
  cursor: pointer;
  pointer-events: auto;
}

.top-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

input[type="text"]:focus {
  color: var(--green);
  outline-color: var(--green);
}

.active-button {
  background-color: var(--green) !important;
  color: var(--dark-green) !important;
}

.label-container {
  display: flex;
  justify-content: space-between;
}

.error {
  outline-color: var(--red) !important;
  color: var(--red) !important;
}

.reset-active {
  background-color: var(--green);
  color: var(--dark-green);
  margin-top: 2rem;
}

button:hover {
  background-color: #9fe8df;
  color: var(--dark-green);
}

#tip {
  max-width: 104px;
  min-height: 44px;
  font-size: 1.5rem;
}

@media (max-width: 675px) {
  main {
    height: 100vh;
    width: 100vw;
    gap: 0;
  }
  .main-container {
    margin: 0;
    flex-direction: column;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
  }

  h1 {
    margin: 1.5rem;
  }

  .buttons {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .custom-button {
    width: 100%;
  }
}
